@page "/creation-drone"

@using suivi_des_drones.Web.UI.Pages

@model CreateDroneModel
@{
}

<h1>Créer une nouvelle drone</h1>

<form  method="post">
    <input asp-for="MyDrone.Matricule" />
    <input asp-for="MyDrone.CreationDate" />

    <button>Save</button>
</form>

