@page "/creation-drone"

@using suivi_des_drones.Web.UI.Pages

@model CreateDroneModel
@{
}

<h1>Créer une nouvelle drone</h1>

<form  method="post">
    <input name="matricule"/>
    <input name="dateCreation"/>

    <button>Save</button>
</form>

